<div class="row">
	<div class="col-md-1">
	</div>
	<div class="col-md-10 indexcontainer">
		<h2 class="headerfont">About</h2>
		<div class="row">
			<div class="col-sm-3">
				<%= image_tag 'tori_coffee.jpg', class: 'image' %>
			</div>
			<div class="col-sm-9">
				<p>Hi!  My name is Tori Brenneison, and I'm a huge nerd for vintage glassware, golden-age science fiction, and midcentury design.  My boyfriend, Dave, and I live in a 1956 ranch home located in the westside suburbs of Cleveland, OH, USA.  Somewhere along the line it lost its metal cabinets, 9x9 VCT, and wood panelling, but we're constantly working on renovations to bring back some of its original atomic vibe!</p>
				<p>On this blog you'll find:</p>
				<ul>
					<li>Vintage Glass (Pyrex, Fire King, etc.)</li>
					<li>Home Renovation Stories</li>
					<li>Thrift Store Tips & Tricks</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="col-md-1">
	</div>
</div>
<div class="row">
	<div class="col-md-1">
	</div>
	<div class="col-md-10 indexcontainer">
		<h2 class="headerfont">Contact</h2>
		<P>You can follow atomic blackbird on Instagram at @atomic_blackbird, or shoot an email to none@none.com!</p>
	</div>
	<div class="col-md-1">
	</div>
</div>