<div class="row">
	<div class="col-md-6">
		<h2 class="headerfont" style="text-align:center">About</h2>
		<div class="indexcontainer">
			<p><span class="headerfont">Atomic Blackbird</span> is the personal website of midcentury collector Tori Brenneison (and occasionally her boyfriend).  The pair live in a 1956 ranch home in the suburbs of Cleveland, OH and are running out of places to store their Pyrex.  </p>
		</div>
		<h2 class="headerfont" style="text-align:center; padding-top: 10px;">Social</h2>
		<div class="indexcontainer">
			<p style="font-size: 18px;"><i class="fab fa-instagram"></i> @atomic_blackbird</p>
		</div>
				<h2 class="headerfont" style="text-align:center; padding-top: 10px;">Latest Listings</h2>
		<%= render 'newlistings' %>
	</div>
	<div class="col-md-6" style="text-align:center;">
		<h2 class="headerfont">New Posts</h2>
	<%= render 'newposts' %>
	</div>
</div> 
