<div class="row">
	<div class="col-md-4">
	</div>
	<div class="col-md-4">
	</div>
	<div class="col-md-4" style="text-align:center;">
		<h2 class="headerfont">New Posts</h2>
	<%= render 'newposts' %>
	</div>
</div> 
