
<h1>Listing posts</h1>

<% if user_signed_in? %>
<li class="nav-link"><%= link_to 'New post', new_post_path %> </li>   
<% end %>
<div class="row">
	<div class="col-md-2">
	</div>
	<div class="col-md-8">
		<%= render partial: "onepost", collection: @posts, as: :post %>
			<div class="digg_pagination">
				<div class="page_info">
					<%= page_entries_info @posts %>
				</div>
				<%= will_paginate @posts, :container => false %>
			</div>
	</div>
	<div class="col-md-2">
	</div>
</div>