/* Do not use *= require in Sass or your other stylesheets will not be able to access the Bootstrap mixins and variables. */

// Custom bootstrap variables must be set or imported *before* bootstrap.
@import "bootstrap";

//bodybackground
$bodybgDefault : #00A29A;
//navbar colors
$bgDefault      : #ffc1b8;
$bgHighlight    : #f79688;
$colDefault     : #000000;
$colHighlight   : #000000;
$dropDown       : true;
//anchor colors
$aDefault: #ffc1b8;
$aDarker: #f7aaad;

body { 
	background-color: $bodybgDefault; 
}

p { 
word-wrap:break-word;
}

.postcontent {
	word-wrap:break-word;
}

.image { 
	max-width:100%;
	max-height:100%;
}

.byline { 
	font-size: 10px;
}

a:link {
    color: $aDefault; 
}

a:visited {
    color: $aDefault; 
}

a:hover {
color: $aDarker;
text-decoration: none;
}

a:active {
color: $aDarker;
}

.navbar { 
	height: 100px;
	background-color: #FFC1B8;
}

.navbar-brand { 
	font-family: Arial;
	font-size: 40px; 
	font-family: 'Pacifico', cursive;
	color: #000000;
}

.headerfont { 
	font-family: 'Pacifico', cursive;
}

.indexcontainer { 
	background-color: #FFFFFF;
	text-align: left;
	border: 1px solid black;
	border-radius: 5px;
	padding: 5px;
}

.showpost { 
	background-color: #FFFFFF;
	border: 1px solid black;
	border-radius: 5px;
	margin: 5px;
	padding: 5px;
}

.navbar {
  background-color: $bgDefault;
  z-index: 50;
  .navbar-form { 
     color: $colDefault;
	background-color: $bgDefault;
     border-radius: .25rem;
     margin: 0 0.25em;
  }
  .navbar-brand {
    color: $colDefault;
    &:hover, &:focus {
      color: $colHighlight; }}
  .navbar-text {
    color: $colDefault; 
    a {
      color: $colHighlight;
      &:hover, &:focus {
        color: $colHighlight; }}}
  .navbar-nav {
    .nav-link {
      color: $colDefault;
		background-color: $bgDefault;
      border-radius: .25rem;
      margin: 0 0.25em;
      &:not(.disabled) {
        &:hover, &:focus {
          color: $colHighlight; }}}
    @if ($dropDown) {
      .dropdown-menu {
        background-color: $bgDefault;
        border-color: $bgHighlight;
        .dropdown-item {
          color: $colDefault;
          &:hover, &:focus, &.active {
            color: $colHighlight;
            background-color: $bgHighlight; }}
        .dropdown-divider {
          border-top-color: $bgHighlight; }}}
    .nav-item.active, .nav-item.show {
      .nav-link, .nav-link:hover, .nav-link:focus {
        color: $colHighlight;
        background-color: $bgHighlight; }}}
  .navbar-toggle {
    border-color: $bgHighlight;
    &:hover, &:focus {
      background-color: $bgHighlight; }
    .navbar-toggler-icon {
      color: $colDefault; }}
  .navbar-collapse,
  .navbar-form {
    border-color: $colDefault; }
  .navbar-link {
    color: $colDefault;
    &:hover {
      color: $colHighlight; }}}
.navbar-expend .navbar-nav .show .dropdown-menu {
  .dropdown-item {
    color: $colDefault;
    &:hover, &:focus {
      color: $colHighlight; }}
  .dropdown-item.active {
    color: $colHighlight;
    background-color: $bgHighlight; }}


	 #tag_cloud {
		 text-align: center;
	   .s { font-size: 12px; }
	   .m { font-size: 16px; }
	   .l { font-size: 20px; }
	 }
	 
	 .paginationcontainer { 
		 margin: 0px auto;
		 text-align: center;
	 }
	 
.pagination {
  background: transparent;
  margin: 0px auto;
  text-align: center;
  border-radius: 5px;
  display: inline-block;
  a, span, em{
    padding: 0.2em 0.5em;
    margin-right: 1px;
 }
  .disabled {
    color: #999999;
    border: 1px solid $colDefault;
	 border-radius: 5px;
 }
  .current {
    font-style: normal;
    font-weight: bold;
    background: $bgHighlight;
    color: $colDefault;
    border: 1px solid $colDefault;
	 border-radius: 5px;
 }
  a {
    text-decoration: none;
    color: $colDefault;
    border: 1px solid $colDefault;
	 	 border-radius: 5px;
 }
    &:hover, &:focus {
      color: $colDefault;
      border-color: $colDefault;
			 border-radius: 5px;
	}
    b {
      color: $colDefault;
      background: $bgHighlight + 60;
			 border-radius: 5px;
      padding: 0.1em 0.25em;
	}
}
 .page_info {
   background: $bgDefault;
 border-radius: 5px;
   color: $colDefault;
   padding: 0.4em 0.6em;
	margin: 0px;
   margin-bottom: 0.3em;
   text-align: center;

}
	
	
	@media screen and (max-width: 575px) {
	  .navbar-expend-sm .navbar-nav .show .dropdown-menu {
	    .dropdown-item {
	      color: $colDefault;
	      &:hover, &:focus {
	        color: $colHighlight; }}
	    .dropdown-item.active {
	      color: $colHighlight;
	      background-color: $bgHighlight; }}
	  	 #tag_cloud {
	  	   display: none;
	  	 }
		}
	@media screen and (max-width: 767px) {
	  .navbar-expend-md .navbar-nav .show .dropdown-menu {
	    .dropdown-item {
	      color: $colDefault;
	      &:hover, &:focus {
	        color: $colHighlight; }}
	    .dropdown-item.active {
	      color: $colHighlight;
	      background-color: $bgHighlight; }}
  	  	 #tag_cloud {
  	  	   display: none;
  	  	 }
		}
	@media screen and (max-width: 991px) {
	  .navbar-expend-lg .navbar-nav .show .dropdown-menu {
	    .dropdown-item {
	      color: $colDefault;
	      &:hover, &:focus {
	        color: $colHighlight; }}
	    .dropdown-item.active {
	      color: $colHighlight;
	      background-color: $bgHighlight; }}}
	@media screen and (max-width: 1199px) {
	  .navbar-expend-xl .navbar-nav .show .dropdown-menu {
	    .dropdown-item {
	      color: $colDefault;
	      &:hover, &:focus {
	        color: $colHighlight; }}
	    .dropdown-item.active {
	      color: $colHighlight;
	      background-color: $bgHighlight; }}
		}